:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	display: flex;
}

aside {
	width: calc(2rem + 1.9vw + 2.3vh);
	min-height: 100vh;
	background-color: #014D4E;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.aside__img-container {
	height: calc(2rem + 1.9vw + 2.3vh);
}

.aside__img-container--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aside__icons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1.35rem;
}

.aside__icons-container--icon-link {
	margin: 1.35rem 0;
	color: white;
	font-size: calc(1rem + 0.6vw);
	transition: all 0.35s ease-in-out;
}

.aside__icons-container--icon-link:hover {
	color: #FF9408;
}

main {
	flex-grow: 1;
}

.hero-section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav__nav-items-container {
	height: calc(2rem + 1.9vw + 2.3vh);
	display: flex;
	justify-content: flex-end;
	background-color: #FF9408;
	align-items: center;
}

.nav__nav-items-container--nav-item:link,
.nav__nav-items-container--nav-item:visited {
	font-size: calc(1rem + 0.77vw);
	font-weight: 500;
	color: white;
	font-family: cursive;
	margin: 0 calc(1rem + 0.92vw);
	position: relative;
}

.nav__nav-items-container--nav-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.3rem;
	border-radius: 0.8rem;
	background-color: white;
	transform: scaleX(0);
	transform-origin: left;
	transition: all 0.35s ease-in-out;
}

.nav__nav-items-container--nav-item::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0.3rem;
	border-radius: 0.8rem;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: all 0.35s ease-in-out;
}

.nav__nav-items-container--nav-item:hover::before,
.nav__nav-items-container--nav-item:active::before,
.nav__nav-items-container--nav-item:hover::after,
.nav__nav-items-container--nav-item:active::after {
	transform: scaleX(1.0);
}

.nav__hamburger-menu {
	display: none;
}

section#showcase {
	flex-grow: 1;
	background: url('img/full-bg-07.jpg') no-repeat center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.showcase__card {
	background-color: #99651E;
	padding: 3rem;
}

.showcase__card--title {
	font-size: 6rem;
	color: white;
	font-family: cursive;
	font-weight: 600;
}

.showcase__card--para {
	font-size: 3rem;
	color: white;
	font-family: 'Indie Flower';
	font-weight: 300;
	margin: 3rem 0;
}

.showcase__card--link:link,
.showcase__card--link:visited {
	font-size: 1.5rem;
	color: white;
	font-family: cursive;
	font-weight: 600;
}

@media screen and (max-width:700px) {
	.nav__nav-items-container {
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: calc(5rem + 33.33vw);
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 4rem;
	}

	.nav__nav-items-container.active {
		opacity: 1;
	}

	.nav__nav-items-container--nav-item:link,
	.nav__nav-items-container--nav-item:visited {
		margin: 1.5rem 0;
		opacity: 0;
		/*visibility: hidden;*/
		transition: all 0.3s ease-in-out;
	}

	.active .nav__nav-items-container--nav-item:link,
	.active .nav__nav-items-container--nav-item:visited {
		opacity: 1;
		/*visibility: visible;*/
	}

	.nav__hamburger-menu {
		display: block;
		width: 5rem;
		height: 5rem;
		background-color: #FF9408;
		border-radius: 50%;
		position: fixed;
		top: 3rem;
		right: 5rem;
		padding: 0.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
	}

	.nav__hamburger-menu--hamburger {
		width: 100%;
		height: 0.4rem;
		border-radius: 0.8rem;
		background-color: white;
		position: relative;
	}

	.nav__hamburger-menu--hamburger::before,
	.nav__hamburger-menu--hamburger::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 0.4rem;
		background-color: white;
		border-radius: 0.8rem;
		transition: all 0.35s ease-in-out;
		visibility: visible;
	}

	.nav__hamburger-menu--hamburger::before {
		top: -1rem;
	}

	.nav__hamburger-menu--hamburger::after {
		top: 1rem;
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger {
		visibility: hidden;
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger::before {
		top: 0;
		transform: rotate(405deg);
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger::after {
		top: 0;
		transform: rotate(-405deg);
	}
}