:root {
	font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

body {
	display: flex;
}

aside {
	width: calc(2rem + 1.9vw + 2.3vh);
	height: 100vh;
	background-color: #014D4E;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: sticky;
	top: 0;
	left: 0;
}

.aside__img-container {
	height: calc(2rem + 1.9vw + 2.3vh);
}

.aside__img-container--img,
.about-me__img-container--img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.aside__icons-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 1.35rem;
}

.aside__icons-container--icon-link {
	margin: 1.35rem 0;
	color: white;
	font-size: calc(1rem + 0.6vw);
	transition: all 0.35s ease-in-out;
}

.aside__icons-container--icon-link:hover {
	color: #FF9408;
}

main {
	flex: 1 0 0;
}

.hero-section {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.nav__nav-items-container {
	height: calc(2rem + 1.9vw + 2.3vh);
	display: flex;
	justify-content: flex-end;
	background-color: #FF9408;
	align-items: center;
	z-index: 5;
}

.nav__nav-items-container--nav-item:link,
.nav__nav-items-container--nav-item:visited {
	font-size: calc(1rem + 0.77vw);
	font-weight: 500;
	color: white;
	font-family: cursive;
	margin: 0 calc(1rem + 0.92vw);
	position: relative;
}

.nav__nav-items-container--nav-item::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0.3rem;
	border-radius: 0.8rem;
	background-color: white;
	transform: scaleX(0);
	transform-origin: left;
	transition: all 0.35s ease-in-out;
}

.nav__nav-items-container--nav-item::after {
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 0.3rem;
	border-radius: 0.8rem;
	background-color: white;
	transform: scaleX(0);
	transform-origin: right;
	transition: all 0.35s ease-in-out;
}

.nav__nav-items-container--nav-item:hover::before,
.nav__nav-items-container--nav-item:active::before,
.nav__nav-items-container--nav-item:hover::after,
.nav__nav-items-container--nav-item:active::after {
	transform: scaleX(1.0);
}

.nav__hamburger-menu {
	display: none;
}

section#showcase {
	flex-grow: 1;
	background: url('img/full-bg-07.jpg') no-repeat center fixed;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.showcase__card {
	background-color: #99651E;
	padding: calc(1.5rem + 1.15vw);
	position: relative;
	animation: card-animation 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 1;
}

@keyframes card-animation {
	0% {
		opacity: 0;
		left: 100vh;
		transform: rotate(0deg);
	}
	100% {
		opacity: 1;
		left: 0vh;
		transform: rotate(-360deg);
	}
}

.showcase__card--title,
.about-me__content--title {
	font-size: calc(2.5rem + 1.92vw);
	color: white;
	font-family: cursive;
	font-weight: 600;
}

.showcase__card--para,
.about-me__content--para {
	font-size: calc(1.5rem + 0.77vw);
	color: white;
	font-family: 'Indie Flower';
	font-weight: 300;
	margin: 3rem 0;
}

.showcase__card--link:link,
.showcase__card--link:visited,
.about-me__content--link:link,
.about-me__content--link:visited {
	font-size: calc(1rem + 0.38vw);
	color: white;
	font-family: cursive;
	font-weight: 600;
	position: relative;
	padding: 1rem 0;
	z-index: 1;
	letter-spacing: 0.3rem;
	transform-origin: left;
}

.showcase__card--link:link::after,
.showcase__card--link:visited::after,
.about-me__content--link:link::after,
.about-me__content--link:visited::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #014D4E;
	z-index: -1;
	transform: scaleX(0);
	transition: transform 0.35s;
	transform-origin: right;
}

.showcase__card--link:hover::after,
.showcase__card--link:active::after {
	transform-origin: left;
	transform: scaleX(1.0);
}

section#projects {
	background-color: #017374;
	display: flex;
	flex-wrap: wrap;
	padding: 2rem;
}

.projects__img-container {
	flex: 1 1 40rem;
	min-width: 0;
	margin: 2rem;
	/*clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%);*/
	overflow: hidden;
}

.projects__img-container--img {
	clip-path: polygon(0% 20%, 20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%);
	width: 100%;
	height: 100%;
}

.projects__img-container--img:hover {
	filter: sepia(80%);
}

section#about-me {
	background-color: #FF9408;
	padding: 2rem;
	display: flex;
}

.about-me__img-container {
	margin: 2rem;
	flex: 1 1 0;
}

.about-me__content {
	flex: 1 1 0;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.about-me__content--title {
	font-size: calc(2rem + 1.54vw);
	letter-spacing: 0.3rem;
	padding: 1rem 0;
	position: relative;
}

.about-me__content--title::after {
	content: '';
	position: absolute;
	height: 0.4rem;
	width: 20%;
	border-radius: 0.3rem;
	background-color: #014D4E;
	bottom: 0;
	left: 0;
}

.about-me__content--para {
	color: black;
	font-size: calc(1.5rem + 0.38vw);
}

.about-me__content--link:link::after,
.about-me__content--link:visited::after {
	transform: scaleY(0);
	transform-origin: bottom;
}

.about-me__content--link:link:hover::after,
.about-me__content--link:visited:hover::after {
	transform: scaleY(1.0);
	transform-origin: top;
}

@media screen and (max-width: 800px) {
	section#showcase {
		justify-content: flex-end;
		background-position: center right;
	}

	.showcase__card {
		background-color: #FF940880;
	}
}

@media screen and (max-width:650px) {
	.nav__nav-items-container {
		opacity: 0;
		position: fixed;
		top: 0;
		right: 0;
		height: 100vh;
		width: calc(5rem + 33.33vw);
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-left: 4rem;
	}

	.nav__nav-items-container.active {
		opacity: 1;
	}

	.nav__nav-items-container--nav-item:link,
	.nav__nav-items-container--nav-item:visited {
		margin: 1.5rem 0;
		opacity: 0;
		/*visibility: hidden;*/
		transition: all 0.3s ease-in-out;
	}

	.active .nav__nav-items-container--nav-item:link,
	.active .nav__nav-items-container--nav-item:visited {
		opacity: 1;
		/*visibility: visible;*/
	}

	.nav__hamburger-menu {
		display: block;
		width: 5rem;
		height: 5rem;
		background-color: #FF9408;
		border-radius: 50%;
		position: fixed;
		top: 2rem;
		right: 3rem;
		padding: 0.8rem;
		display: flex;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		z-index: 10;
	}

	.nav__hamburger-menu--hamburger {
		width: 100%;
		height: 0.4rem;
		border-radius: 0.8rem;
		background-color: white;
		position: relative;
	}

	.nav__hamburger-menu--hamburger::before,
	.nav__hamburger-menu--hamburger::after {
		content: '';
		position: absolute;
		width: 100%;
		height: 0.4rem;
		background-color: white;
		border-radius: 0.8rem;
		transition: all 0.35s ease-in-out;
		visibility: visible;
	}

	.nav__hamburger-menu--hamburger::before {
		top: -1rem;
	}

	.nav__hamburger-menu--hamburger::after {
		top: 1rem;
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger {
		visibility: hidden;
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger::before {
		top: 0;
		transform: rotate(405deg);
	}

	.nav__hamburger-menu.active .nav__hamburger-menu--hamburger::after {
		top: 0;
		transform: rotate(-405deg);
	}

	section#showcase {
		/*background-image: url('img/full-bg-03.jpg');*/
		background: url('img/full-bg-07-1.jpg') no-repeat 80% fixed;
		/*background-position: left center;*/
		background-size: cover;
	}

	.projects__img-container {
		flex: 1 1 30rem;
	}
}